body {
    font-family: 'Montserrat', sans-serif;
}

img {
    max-width: 100%;
}

.inner {
    position: relative;
    max-width: 940px;
    width: 100%;
    margin: 0 auto;
}

.w50 {
    float: left;
    width: 50%;
}

.w-50 {
    width: 50%;
}

.w-50:first-of-type {
    padding-right: 15px;
}

.w-50:last-of-type {
    padding-left: 15px;
}

.w-100 {
    width: 100%;
}

.m-t-30 {
    margin-top: 30px;
}

.m-b-15 {
    margin-bottom: 15px;
}

.top-header {
    position: relative;
    width: 100%;
    padding-top: 8px;
    background: #104475;
    color: #ededed;
    z-index: 1;
}

.top-header > div > div {
    padding: 1px 0 2px;
}

.country-menu {
    list-style: none;
    float: left;
    position: relative;
    z-index: 5;
    margin-top: -3px;
    margin-bottom: 2px;
    margin-left: 0;
    padding: 0;
}

.country-menu li {
    float: left;
}

.country-menu a {
    display: block;
    padding: 0 5px 0 0;
    text-decoration: none;
    color: #fff;
    font-weight: 300;
}

.country-menu img {
    height: 28px;
    width: 28px;
}

.country-menu #languagechoice {
    color: lightgray;
    font-size: 13px;
}

.header-social_links {
    padding-left: 50px;
    color: lightgray;
    font-size: 13px;
    font-weight: 300;
}

.social-icon i {
    font-size: 13px;
    color: lightgray;
    padding-left: 5px;
    padding-right: 5px;
}

.socialLoginHdr {
    margin: 5px 0 0 0;
    padding: 0 10px 0 25px;
}

.login {
    float: right;
    font-family: 'Open sans', sans-serif;
    font-weight: 600;

}

.login #hideLoginJoinHome > div {
    display: inline-block;
    margin-right: -4px;
    color: #fff;
}

.login a {
    color: #fff;
    line-height: 22px;
    font-family: 'Open sans', sans-serif;
    font-weight: 600;
}

.login a:nth-child(1) {
    padding-right: 5px;
}

.login #hideLoginJoinHome > div:nth-of-type(2) {
    margin-right: 4px;
}

.login #hideLoginJoinHome > div:last-of-type {
    margin-right: 0;
}

.joinhome .social-icon {
    float: left;
}

.navbar {
    margin-bottom: 0;
    background-color: transparent;
    border: none;
    border-radius: 0;
    z-index: 999;
}

.navbar.navbar-fixed-top {
    background-color: #143c6c;
}

.navbar-brand {
    height: auto;
    padding: 3px 0;
}

.navbar-toggle {
    margin-right: 0;
    background: #fff;
}

.navbar-toggle .icon-bar {
    background: #13586d;
}

#navbar {
    padding-right: 0;
}

.navbar-nav {
    margin: 0 0 0 100px;
}

.navbar-nav > li {
    padding: 15px 10px;
}

.navbar-nav > li > a {
    /*padding: 6px 16px;
    color: #fff;
    font-size: 13px;
    line-height: 1.1;
    border: 1px solid transparent;
    text-transform: uppercase;
    border-radius: 11px;*/

    display: inline-block;
    float: none;
    padding: 6px 16px;
    color: #fff;
    font-size: 14px;
    line-height: 20px;
    border: 1px solid transparent;
    text-transform: uppercase;
    border-radius: 11px;
    font-weight: 300;
    padding: 5px 9px 5px 9px;

}

.navbar-nav > li > a:not(.btn):hover,
.navbar-nav > li.active a {
    background: none;
    border-color: #fff;
}

.navbar-nav > li > a:not(.btn):focus {
    background: none;
}

#profile-band {
    float: left;
    position: absolute;
    right: 170px;
    top: -2px;
    width: 170px;
    background: #fff;
    border-radius: 5px;
    cursor: pointer;
}

.nav-collapse {
    float: left;
    margin-left: 50px;
}

.profile_info > div:not(.additional-info) {
    float: left;
    width: 20px;
}

.profile_info > div:first-of-type {
    width: calc(100% - 20px);
}

#profile-band .general-info {
    padding: 3px 5px 3px 10px;
    border-right: 1px solid #ededed;
}

#profile-band .general-info span,
#profile-band .general-info p {
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#profile-band .arrow {
    height: 30px;
    background-image: url("../images/arrow-bottom.png");
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}

#profile-band .additional-info {
    display: none;
    position: absolute;
    right: 0;
    top: 25px;
    width: 100%;
    padding: 10px;
    background: #fcfcfc;
    border-radius: 0 0 5px 5px;
}

#profile-band.active {
    border-radius: 5px 5px 0 0;
}

#profile-band.active .additional-info {
    display: block;
}

#profile-band.active .arrow {
    background-image: url("../images/arrow-top.png");
}

@media all and (min-width: 767px) {

    #profile-band:hover {
        border-radius: 5px 5px 0 0;
    }

    #profile-band:hover .additional-info {
        display: block;
    }

    #profile-band:hover .arrow {
        background-image: url("../images/arrow-top.png");
    }
}

#profile-band .additional-info div {
    margin-bottom: 3px;
}

#profile-band .additional-info div:first-of-type {
    margin-bottom: 10px;
    text-align: center;
}

#profile-band .additional-info img {
    width: 15px;
}

#profile-band .additional-info div:first-of-type img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

#profile-band .additional-info span {
    padding-left: 3px;
    color: #9d9d9d;
    font-size: 12px;
    font-weight: 300;
}

#profile-band .additional-info div:nth-of-type(2) span {
    vertical-align: middle;
}

#profile-band .header_phone {
    position: absolute;
    top: auto;
    bottom: 2px;
    right: 57px;
    display: block;
    width: 29px;
    height: 29px;
}

#profile-band .name {
    margin-bottom: 3px;
    font-size: 13px;
    line-height: 12px;
    font-weight: 500;
}

#profile-band #UsrProfileImage {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

@media all and (max-width: 979px) {

    #logoImage {
        top: 2px;
        left: 5px;
        max-width: 170px;
    }

    /*.start_now .btn {*/
    /*margin-top: 10px;*/
    /*-webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;*/
    /*}*/
    .navbar .btn-navbar {
        margin-top: 9px;
    }
}

@media all and (max-width: 767px) {
    #profile-band {
        right: 80px;
        top: 38px;
    }
}


@media all and (max-width: 700px) {

    #profile-band:after {
        content: ".";
        display: block;
        height: 0;
        clear: both;
        visibility: hidden;
    }
}

@media all and (max-width: 400px) {
    #profile-band {
        right: 75px;
        width: 135px;
    }
}

#profile-band p {
    font-size: 13.3px;
    color: #3B3B3B;
    /*margin-top: -13px !important;*/
    position: relative;
    margin: 0;
    line-height: 1;
    text-transform: uppercase;
    /*padding-top:4px;*/
}

#profile-band .profile_info > span {
    font-size: 10px;
    line-height: 14px;
}

#profile-band .profile_info div {
    font-size: 11px;
    line-height: 1.1;
}

#profile-band .profile_info_not_logged div {
    font-size: 14px;
    line-height: 1.1;
}

#profile-band .profile_info_not_logged #checkPsize {
    margin-bottom: 26px;
    line-height: 16px;
}

.start_now {
    display: none;
    float: right;
    padding: 4px 3px;
}

.start_now .btn {
    margin-top: 11px;
    padding: 2px 12px;
    background: #6bc04b;
    border: none;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    font-weight: 500;
    -webkit-transition: all 0.25s ease-in-out 0s;
    -moz-transition: all 0.25s ease-in-out 0s;
    -ms-transition: all 0.25s ease-in-out 0s;
    -o-transition: all 0.25s ease-in-out 0s;
    transition: all 0.25s ease-in-out 0s;
}

.start_now .btn.btn.btn_orange:hover {
    background: #fff;
    color: #0f0f0f;
}

.start_now {
    position: absolute;
    top: 0;
    right: 15px;
}

.start_now .btn.btn_orange {
    padding: 8px;
}

.start_now .btn {
    margin-top: 15px;
}

.btn {
    font-weight: 500;
    transition: all 0.2s;
}

.btn.btn-green {
    background: #6bc04b;
    color: #fff;
}

#role {
    display: inline-block;
    min-width: 100px;
    color: #505050;
    font-size: 10px;
    font-weight: 300;
    text-transform: uppercase;
}

.btn.btn-green:hover,
.btn.btn-green:focus {
    background: #7cde57;
}

.inline-blocks > div {
    display: inline-block;
    vertical-align: middle;
    margin-right: -4px;
}

.membership .top-section {
    padding: 110px 0 0;
    background: url("../images/bg-graph.png") no-repeat center;
    background-size: cover;
    color: #fff;
    text-align: right;
    overflow: hidden;
}

.membership .top-section .inline-blocks > div:first-of-type {
    width: 45%;
}

.membership .top-section .inline-blocks > div:last-of-type {
    width: 55%;
}

.membership .top-section h1 {
    margin: 0 0 40px;
    font-size: 25px;
    font-weight: 600;
}

.membership .top-section span {
    line-height: 1.1;
}

.membership .top-section .author {
    font-size: 18px;
    font-weight: 600;
}

.membership .top-section .position {
    font-size: 15px;
    font-weight: 300;
}

.membership .top-section img {
    width: 100%;
}

main {
    /*margin-top: -68px;*/
    position: relative;
    top: -68px;
}

.top-title {
    position: relative;
    padding: 20px 0;
    background: linear-gradient(to bottom, #dedede, #fcfcfc 50%);
    text-align: center;
}

.top-title h2 {
    margin: 0;
    line-height: 1.2;
    font-weight: 600;
    text-transform: uppercase;
}

.top-title:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 20px;
    background: linear-gradient(to bottom, rgba(243, 243, 243, 0.1), #f3f3f3);
}

.up-block {
    position: absolute;
    left: 0;
    width: 100%;
    padding: 20px;
    transform: translateY(-50%);
    background: #fff;
    box-shadow: 0 2px 26px 1px rgba(0, 0, 0, 0.11);
    text-align: center;
    z-index: 9;
}

.start-managing {
    padding: 20px 0;
    text-align: center;
    text-transform: uppercase;
}

.start-managing .inline-blocks > div:first-of-type {
    width: 65%;
    padding: 0 10px;
}

.start-managing .inline-blocks > div:last-of-type {
    width: 35%;
}

.start-managing h3 {
    font-weight: 600;
    line-height: 1.3;
}

.start-managing p {
    margin-bottom: 25px;
    font-weight: 300;
}

.main-benefits > div {
    position: relative;
    padding: 75px 0;
}

.main-benefits > div:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 90px;
    background: linear-gradient(to top, #E6E6E6 5%, rgba(236, 236, 236, 0.7) 40%, rgba(248, 248, 248, 0.05));
}

.main-benefits .inline-blocks .first-block {
    width: 60%;
    padding-right: 20px;
}

.main-benefits .inline-blocks .second-block {
    width: 40%;
}

h2 {
    position: relative;
    color: #0b294e;
    font-size: 24px;
    text-transform: uppercase;
}

*.bottom-line:after,
.main-benefits h3:after {
    content: '';
    display: block;
    width: 90%;
    height: 3px;
    margin: 20px 0;
    background: #3498DB;
}

.blue-line {
    width: 50%;
    height: 2px;
    margin: 15px auto;
    background: #3570b6;
}

.main-benefits .header-part h2 {
    color: #0B3B5B;
    font-size: 43px;
    font-weight: 900;
    letter-spacing: 2px;
}

.main-benefits h3 {
    position: relative;
    color: #0b294e;
}

.main-benefits h3:after {
    width: 160px;
}

.main-benefits img {
    width: 100%;
}

.main-benefits .header-part p {
    color: #0B3B5B;
    font-size: 22px;
    line-height: 1.3;
}

.main-benefits h5 {
    margin-bottom: 2px;
    color: #1E74AD;
    line-height: 19px;
    font-weight: 700;
}

.main-benefits .description {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 25px 0;
    line-height: 19px;
}

.main-benefits .description.with-sidebar {
    align-items: flex-start;
}

.main-benefits .description p {
    color: #656565;
}

.description-visual > div {
    float: left;
}

.description-visual > div:first-of-type {
    padding-right: 80px;
}

.description-credit_score .wrap-visual {
    width: 45%;
}

.description-credit_score .wrap-text {
    width: 55%;
}

.description-land_banking .wrap-visual {
    width: 40%;
}

.description-land_banking .wrap-text {
    width: 60%;
}

.description.description-taxbot {
    margin-top: -20px;
}

.description-taxbot .wrap-text {
    width: 70%;
}

.description-taxbot .wrap-visual {
    width: 30%;
}

.description-video div {
    width: 50%;
}

.description-video .wrap-video {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
}

.description-video .wrap-video iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.main-benefits .with-sidebar > div {
    float: left;
    width: 280px;
}

.main-benefits .with-sidebar > div:first-of-type {
    width: calc(100% - 280px);
    padding-right: 20px;
}

.main-benefits .with-sidebar .sidebar {
    padding: 15px 30px;
    background: #F6F7F8;
}

.main-benefits .blue-dots-list {
    margin: 12px 0;
}

.main-benefits .blue-dots-list li {
    padding-left: 22px;
}

.main-benefits .blue-dots-list li:before {
    left: 0;
    font-size: 14px;
}

.main-benefits .content {
    color: #0B3B5B;
}

.main-benefits .content h3 {
    font-weight: 400;
    letter-spacing: 1px;
}

.main-benefits .content .blue-dots-list {
    margin-top: 40px;
}

.main-benefits .content .blue-dots-list li {
    margin-bottom: 20px;
    padding-left: 25px;
    font-weight: 700;
    line-height: 1.4;
}

.sidebar {
    text-align: left;
}

.arrow-list {
    margin-top: 25px;
    padding: 0;
    list-style: none;
}

.sidebar .arrow-list {
    margin-top: 0;
}

.arrow-list li {
    position: relative;
    padding-left: 30px;
    margin-bottom: 15px;
    font-size: 14px;
    line-height: 18px;
    font-weight: 300;
    text-align: left;
}

.sidebar .arrow-list li {
    margin-bottom: 8px;
    padding-left: 15px;
    font-size: 12px;
}

.arrow-list li:before {
    content: '';
    position: absolute;
    top: 4px;
    left: 0;
    width: 8px;
    height: 9px;
    margin-right: 5px;
    background: url(../images/right-arrow.png) no-repeat center;
    background-size: cover;
}

.sidebar .arrow-list li:before {
    top: 5px;
    width: 6px;
    height: 7px;
}

.sidebar img {
    width: 90%;
    margin-left: 5%;
}

.sidebar img + img {
    margin-top: -10px;
}

#creditmax .content > div {
    float: left;
    width: 50%;
    padding-right: 65px;
}

.main-benefits .tabs {
    box-shadow: 0 2px 26px 1px rgba(0, 0, 0, 0.11);
}

.main-benefits .tabs .nav-tabs li {
    width: calc(25% + 1px);
    margin-right: -1px;
    text-align: center;
}

.main-benefits .tabs .nav-tabs li a {
    margin-right: 0;
    color: #444;
    font-weight: 300;
    border: 1px solid #d8d8d8;
    border-radius: 0;
}

.main-benefits .tabs .nav-tabs li.active a {
    box-shadow: 0 0 0 1px #3570b6 inset;
    color: #444;
}

.main-benefits .tabs p {
    margin: 0;
    padding: 15px 20px;
}

.main-benefits .double-list > ul {
    float: left;
    width: 50%;
    margin-top: 10px;
    padding-right: 65px;
}

.description.inline-blocks h4 {
    margin-bottom: 15px;
    color: #454545;
    font-size: 30px;
    font-weight: 600;
}

.description.inline-blocks > div:first-of-type {
    padding-right: 20px;
}

.description.inline-blocks:not(:first-of-type) {
    margin-top: 35px;
}

.testimonials {
    padding: 50px 0;
    background: #f2f2f2;
}

.membership .testimonials {
    padding: 200px 0 60px;
}

.testimonials .title {
    position: relative;
    margin-bottom: 50px;
    text-align: center;
}

.testimonials .title:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 3px;
    transform: translateY(-50%);
    background: #1c4d7f;
}

.testimonials .title h2 {
    display: inline-block;
    margin: 0;
    padding: 0 70px;
    font-size: 24px;
    font-weight: 300;
    background: #f2f2f2;
}

.slick-slide {
    height: auto;
}

#testimonials-slider .user-info {
    display: inline-block;
    vertical-align: top;
    width: 125px;
    text-align: center;
}

#testimonials-slider .user-info div {
    margin-top: 15px;
}

#testimonials-slider .user-info img {
    width: 125px;
    height: 125px;
}

#testimonials-slider .user-info div span {
    color: #5c5c5c;
    line-height: 1.3;
    font-weight: 500;
}

#testimonials-slider .user-info div span:last-of-type {
    color: #8e8e8e;
    font-size: 12px;
    font-weight: 300;
}

#testimonials-slider .user-info + div {
    display: inline-block;
    vertical-align: middle;
    width: calc(100% - 180px);
    margin-left: 50px;
}

#testimonials-slider .user-info + div div {
    position: relative;
    padding: 30px 40px;
    border: 1px solid #a1a1a1;
    border-radius: 10px;
}

#testimonials-slider .user-info + div div:before {
    content: '';
    position: absolute;
    left: -32px;
    top: 55px;
    width: 32px;
    height: 28px;
    background: #f2f2f2 url(../images/testimonial-rectangle.png) no-repeat center;
}

#testimonials-slider .user-info + div div p {
    margin-bottom: 0;
    font-size: 15px;
    line-height: 1.4;
    font-weight: 300;
    font-family: 'Montserrat', sans-serif;
}

#testimonials-slider .user-info + div div p img {
    position: relative;
    top: -2px;
    display: inline-block;
    width: auto;
    vertical-align: bottom;
    margin: 0 10px 0 -10px;
}

.banner_img {
    width: 100%;
    opacity: 0;
}

.wrap_slide_text,
.wrap_banner_text {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    width: 100%;
    color: #fff;
    text-align: center;
}

.wrap_slide_text h1 {
    font-size: 42px;
    line-height: 1;
    font-weight: 600;
    text-transform: uppercase;
    text-align: right;
}

.wrap_slide_text h1 span {
    color: #9e8917;
    font-size: 1.8em;
    font-weight: 200;
    letter-spacing: -5px;
}

.wrap_slide_text h1 span sup {
    font-size: .6em;
}

/* slick dots */

.slick-dots {
    /*position: absolute;*/
    bottom: 15px;

    display: block;

    width: 100%;
    padding: 0;
    margin: 0;

    list-style: none;

    text-align: center;
}

.life_essentials .slick-dots,
.life_advantage .slick-dots {
    top: -35px;
    bottom: auto;
}

.life_essentials .slick-dots li button,
.life_advantage .slick-dots li button {
    background: #AFB3B7;
}

.grey-title {
    padding: 30px 0 20px;
    background: #f2f2f2;
    text-align: center;
}

.grey-title h2 {
    margin-top: 0;
}

.grey-title .short-description {
    text-transform: uppercase;
}

.management h2 {
    font-weight: 300;
}

.management h2 b {
    font-weight: 600;
}

.management h2:after {
    width: 50%;
    margin: 15px 0;
}

.management_block {
    background: #fff;
}

.btn_main {
    padding: 8px 25px;
    background: #ffc600;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 400;
    border: none;
    border-radius: 4px;
    letter-spacing: 0;
    text-transform: uppercase;
    transition: opacity 0.2s;
    -webkit-transition: opacity 0.2s;
    -moz-transition: opacity 0.2s;
    -o-transition: opacity 0.2s;
    -ms-transition: opacity 0.2s;
    transition: opacity 0.2s;
}

.btn_main:hover,
.btn_main:active,
.btn_main:focus {
    background: #e4ac32;
    color: #fff;
    -webkit-transition: background-color 150ms linear;
    -moz-transition: background-color 150ms linear;
    -o-transition: background-color 150ms linear;
    -ms-transition: background-color 150ms linear;
    transition: background-color 150ms linear;
}

.btn_main.btn_orange {
    background: #e4ac32;
    color: #0d525d;
}

.btn.btn_orange {
    background: #ffc600;
}

.btn.btn_blue {
    background: #3570b6;
    font-size: 12px;
}

.span4 {
    float: left;
    width: 31.914893617021278%;
    margin-left: 2.127659574468085%;
}

.span4:first-of-type {
    margin-left: 0;
}

.full-img-left-text {
    padding: 130px 0;
    color: #fff;
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
}

.full-img-left-text.donation {
    background-image: url("../images/donation.jpg");
}

.full-img-left-text.donation .left-block {
    float: left;
    width: 35%;
}

.full-img-left-text.donation p {
    font-size: 12px;
    text-align: justify;
}

.full-img-left-text.donation h2 {
    color: #fff;
    font-size: 22px;
    line-height: 1.2;
    text-align: left;
}

.full-img-left-text.donation h2:after {
    width: 150px;
}

.full-img-left-text p {
    padding-right: 10px;
}

.login-block {
    padding: 150px 0;
    background: url("../images/login-bg.jpg") no-repeat center;
    background-size: cover;
    text-align: center;
}

.center-block {
    width: 380px;
    max-width: 100%;
    padding: 35px 18px 15px;
    background: #fbfbfb;
    border-radius: 10px;
}

.center-block h2 {
    font-size: 26px;
    font-weight: 400;
    text-transform: inherit;
}

.center-block h2 + span {
    color: #99c1ff;
    font-size: 14px;
    font-weight: 300;
}

.center-block form {
    margin-top: 10px;
}

.center-block form input:not([type='checkbox']) {
    width: 100%;
    height: 50px;
    padding-left: 60px;
    background: #f6f6f6;
    color: #7b7b7b;
    font-weight: 300;
    border: 1px solid #EAEAEA;
    border-radius: 10px;
}

.center-block form .input-field {
    position: relative;
    margin: 20px 0 0;
}

.center-block form .input-field:before {
    content: '';
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
}

.center-block form .email-field:before {
    width: 22px;
    height: 22px;
    background: url("../images/email.png") no-repeat center;
}

.center-block form .pass-field:before {
    width: 18px;
    height: 27px;
    background: url("../images/password.png") no-repeat center;
}

.center-block .checkbox {
    margin: 12px 0;
    padding-left: 22px;
    text-align: left;
}

.center-block .checkbox label {
    padding-left: 30px;
    color: #7b7b7b;
    font-weight: 300;
}

.center-block .checkbox input {
    margin-top: 3px;
    margin-left: -30px;
    font-size: 20px;
}

.center-block .btn.btn_blue {
    width: 100%;
    padding: 12px 20px;
    background: linear-gradient(to bottom, #4b8bf1, #3f78ef);
    font-size: 18px;
    border-radius: 10px;
    text-transform: inherit;
}

.center-block .btn.btn_blue:before {
    content: '';
    display: inline-block;
    width: 17px;
    height: 17px;
    vertical-align: middle;
    margin-right: 2px;
    background: url("../images/sign-in.png") no-repeat center;
}

.center-block .btn.btn_blue span {
    display: inline-block;
    vertical-align: middle;
}

.center-block .wrap-btn {
    margin-bottom: 12px;
}

.center-block form > a {
    color: #082e51;
    font-size: 12px;
    font-weight: 300;
    text-decoration: underline;
}

.enrollment .top-section {
    padding: 150px 0 120px;
    background: url("../images/enrollment-top.jpg") no-repeat center;
    background-size: cover;
    color: #fff;
    text-align: right;
}

.enrollment .top-section h1 {
    margin: 0;
    font-size: 46px;
    font-weight: 600;
    text-transform: uppercase;
}

.enrollment .top-section h3 {
    margin: 0;
    font-size: 27px;
    font-weight: 300;
}

.enrollment .top-section h3 b {
    font-weight: 600;
}

.enrollment .main-section {
    background: #f2f2f2;
}

.step {
    margin-bottom: 30px;
    padding: 15px;
    background: #fff;
    box-shadow: 0 2px 26px 1px rgba(0, 0, 0, 0.11);
    transform: translateY(-40px);
}

.step h2 {
    font-size: 43px;
    font-weight: 700;
    text-transform: inherit;
}

.step h2:after {
    width: 200px;
}

.step h5 {
    margin: 35px 0 30px;
    color: #2d2d2d;
    font-size: 22px;
    font-weight: 500;
}

.step .radio {
    padding: 0 3px;
}

.step .radio + .radio {
    margin-top: 10px;
}

.step p {
    margin: 20px 0;
    line-height: 18px;
    font-weight: 300;
}

.type-package .clearfix > div {
    float: left;
}

.type-package .type {
    width: 40%;
}

.type-package .clearfix {
    margin-bottom: 30px;
}

.type-package .type label {
    padding-left: 30px;
    font-weight: 700;
}

.type-package .type input {
    margin-left: -30px;
}

.type-package .type ul {
    list-style: none;
}

.type-package .type ul li {
    margin-bottom: 8px;
    font-weight: 300;
}

.type-package .type ul li:before {
    content: 'Р’В»';
    position: relative;
    top: -1px;
    display: inline-block;
    font-weight: 700;
}

.type-package .image {
    width: 60%;
    text-align: center;
}

.type-package .image img {
    width: 90%;
}

.step-two .form-inline {
    margin-bottom: 10px;
}

.step-two .form-group {
    margin-bottom: 10px;
}

.step-two .form-group:first-of-type {
    margin-right: 50px;
}

.step-two .form-group label {
    width: 120px;
    margin-right: 10px;
    font-weight: 300;
}

.step-two .form-group input {
    height: 31px;
    width: 200px;
    background: #FBFBFB;
    font-weight: 300;
    border: 1px solid #E1E1E1;
    border-radius: 2px;
}

.enrollment .wrap-btn {
    position: relative;
    transform: translateY(-20px);
    padding-bottom: 20px;
    text-align: center;
}

.enrollment .next-steps {
    display: none;
}

.inline-inputs {
    margin: 45px 0 15px;
}

.enrollment .first,
.enrollment .second {
    float: left;
    width: 46%;
    margin: 0 2% 8px;
}

.inline-inputs label {
    width: 140px;
    font-size: 13px;
    font-weight: 300;
}

.inline-inputs input:not([type='radio']),
.inline-inputs select {
    width: calc(100% - 150px);
    height: 37px;
    padding: 2px 12px;
    background: #F3F6F9;
    color: #667a90;
    font-size: 13px;
    border: 1px solid #CBD7DB;
    border-radius: 5px;
}

.inline-inputs input::-webkit-input-placeholder {
    color: #667a90;
}

.inline-inputs select {
    text-indent: 2px;
}

.double-select {
    width: calc(100% - 150px);
    display: inline-block;
}

.double-select select {
    margin-right: -4px;
}

.double-select select:first-of-type {
    width: 33%;
    margin-right: 6%;
}

.double-select select:last-of-type {
    width: 53%;
    margin: 0 -4px 0 7%;
}

.enrollment .btn-green {
    padding: 15px 45px;
    font-size: 17px;
    font-weight: 600;
    text-transform: uppercase;
    border-radius: 15px;
}

.rapidssl {
    position: absolute;
    right: 0;
    top: 0;
}

.inline-radio .radio input {
    font-size: 20px;
    margin: 8px 0 0 -25px;
}

.inline-radio .radio label {
    padding-left: 25px;
    font-size: 22px;
    font-weight: 500;
}

.billingInfo {
    margin-top: 25px;
    padding-left: 18px;
}

.billingInfo span {
    font-size: 13px;
    font-weight: 300;
}

.billingInfo .inline-radio {
    display: inline-block;
    margin-left: 60px;
}

.billingInfo .inline-radio label {
    width: auto;
    margin-left: 5px;
}

.step-five .inline-inputs {
    margin-top: 0;
}

.step-five .inline-inputs label {
    width: 170px;
}

.step-five .inline-inputs input {
    width: calc(100% - 180px);
}

.step-six .col-sm-6 img {
    display: inline-block;
    vertical-align: middle;
    width: 130px;
}

.step-six .col-sm-6 img + p {
    display: inline-block;
    vertical-align: middle;
    width: calc(100% - 145px);
    margin-left: 10px;
}

.bottom-part {
    padding-bottom: 30px;
    transform: translateY(-20px);
    text-align: center;
}

.bottom-part p {
    margin-bottom: 40px;
    color: #2d2d2d;
    font-size: 22px;
    font-weight: 300;
}

.bottom-part .wrap-btn {
    transform: none;
}

.bottom-part sup {
    top: -7px;
    font-size: 60%;
}

.bottom-part .checkbox label {
    font-size: 13px;
    font-weight: 300;
}

.bottom-part .wrap-btn {
    margin-bottom: 20px;
}

.signature {
    margin-top: 20px;
    text-align: left;
}

.signature p {
    display: inline-block;
    vertical-align: middle;
    width: calc(100% - 260px);
    margin-bottom: 0;
    padding-left: 10px;
    font-size: 14px;
    line-height: 1.2;
    font-weight: 300;
    text-align: justify;
}

.btn.btn_main:hover {
    opacity: 0.7;
}

.dark-top, .dark-bottom {
    position: relative;
}

.dark-top:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 25px;
    width: 100%;
    background: linear-gradient(to bottom, rgba(226, 226, 226, 0.4), rgba(226, 226, 226, 0.05));
}

.border-check {
    margin-top: 30px;
    list-style: none;
}

.border-check li {
    position: relative;
    margin-bottom: 15px;
    padding-left: 40px;
    font-size: 17px;
    font-weight: 500;
    text-transform: uppercase;
}

.border-check li:before {
    content: '';
    position: absolute;
    top: -1px;
    left: 0;
    width: 25px;
    height: 23px;
    background: url("../images/border-check.png") no-repeat center;
}

.nav-collapse {
    margin-left: 0;
}

footer {
    position: relative;
    margin: -68px 0 0;
    padding: 1% 0 1% 0;
    background-color: #18416b;
    font-family: "Open Sans", sans-serif;
}

footer .rewards p {
    font-size: 19px;
    font-style: italic;
    color: white;
}

footer .rewards h6 {
    margin: 0;
    padding: 3% 0 4% 0;
    color: #fff;
    font-size: 24px;
    line-height: 1.2;
    font-weight: 600;
    text-transform: none;
    font-style: italic;
}

footer ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

footer ul li {
    margin: 0;
    padding: 0 0 2% 25px;
    font-size: 14px;
    color: #fff;
    line-height: 1.6;
}

footer ul li.addy {
    background: transparent url(../images/ico_map.png) no-repeat 2px 4px;
    padding-top: 3px;
}

footer ul li.phone {
    background: transparent url(../images/ico_phone.png) no-repeat 0 4px;
}

footer a {
    color: #fff;
}

footer a:hover {
    color: #fff;
}

footer ul li.fax i {
    color: #3c93ea;
    padding-right: 10px;
    margin-left: -24px;
}

footer ul li.email {
    background: transparent url(../images/ico_email.png) no-repeat 0 6px;
}

footer.bottom {
    position: relative;
    margin: 0;
    padding: 10px 250px;
    background-color: #145077;
    text-align: center;
    height: auto;
}

footer.bottom#footBottom div {
    color: #e1e1e1;
}

footer.bottom div {
    display: inline-block;
    margin: 0;
    padding: 0 1px;
    font-size: 12px;
    color: #e1e1e1;
}

footer.bottom div a {
    color: #e1e1e1;
}

@media (max-width: 940px) {
    .inner {
        width: 100%;
        padding: 0 15px;
    }

    .navbar-brand > img {
        width: 80px;
    }


    .navbar-nav {
        margin-left: 50px;
    }

    .wrap_slide_text h1 {
        font-size: 35px;
    }

    .description-visual > div:first-of-type {
        padding-right: 50px;
    }

    .description-credit_score .wrap-visual {
        width: 50%;
    }

    .description-credit_score .wrap-text {
        width: 50%;
    }

    .description-taxbot .wrap-text {
        width: 65%;
    }

    .description-taxbot .wrap-visual {
        width: 35%;
    }
}

@media (max-width: 767px) {

    .start_now {
        right: 70px;
    }

    .start_now .btn {
        margin-top: 10px;
    }

    .navbar-nav {
        margin-left: 0;
    }

    .navbar-brand {
        padding: 0;
    }

    .navbar-brand > img {
        width: 75px;
    }

    .membership .top-section {
        padding-bottom: 0;
    }

    .membership .top-section .inline-blocks > div {
        position: relative;
    }

    .membership .top-section .inline-blocks > div:first-of-type {
        left: -35px;
        width: 35%;
    }

    .membership .top-section .inline-blocks > div:last-of-type {
        width: 65%;
    }

    .membership .top-section img {
        width: auto;
        max-width: none;
    }

    .header-part {
        text-align: center;
    }

    .up-block {
        position: static;
        transform: none;
    }

    .navbar {
        background-color: #143c6c;
    }

    .navbar-nav > li > a {
        padding: 6px 20px;
    }

    .navbar-nav > li > a:not(.btn):hover {
        background: #d3aa41;
        border-color: transparent;
    }

    main {
        top: 0;
    }

    .inline-blocks > div {
        width: 100%;
    }

    .start-managing .inline-blocks > div:first-of-type {
        width: 100%;
        margin-bottom: 20px;
    }

    .start-managing .inline-blocks > div:last-of-type {
        width: 100%;
    }

    .main-benefits > div {
        padding: 30px 0 50px;
    }

    .main-benefits > div:after {
        height: 50px;
    }

    .main-benefits .inline-blocks {
        text-align: center;
    }

    .main-benefits .inline-blocks .first-block,
    .main-benefits .inline-blocks .second-block {
        width: 100%;
        margin: 0 0 15px;
        padding: 0;
    }

    .main-benefits .inline-blocks .second-block img {
        max-width: 80%;
    }

    *.bottom-line:after {
        margin-left: auto;
        margin-right: auto;
    }

    h2 {
        width: 100%;
    }

    h2:after {
        width: 100%;
    }

    .main-benefits .description {
        flex-direction: column;
        margin: 15px 0;
    }

    .main-benefits .description.with-sidebar {
        align-items: center;
    }

    .main-benefits .with-sidebar .sidebar {
        margin-top: 15px;
    }

    .main-benefits .with-sidebar > div:first-of-type {
        width: 100%;
    }

    .main-benefits .content .blue-dots-list {
        margin-top: 25px;
    }

    .description h5,
    .description p {
        text-align: left;
    }

    .description-visual > div:first-of-type {
        padding-right: 0;
    }

    .description-visual .wrap-visual {
        width: 60%;
        margin: 0 20%;
        padding-right: 0;
    }

    .description-visual .wrap-text {
        width: 100%;
    }

    .description-visual.description-video .wrap-visual {
        width: 90%;
        margin: 0 5% 5px;
    }

    #creditmax .content > div {
        width: 100%;
        padding-right: 0;
    }

    .main-benefits .tabs .nav-tabs li {
        width: 100%;
    }

    .main-benefits .double-list > ul {
        width: 100%;
        padding-right: 0;
    }

    .main-benefits .double-list > ul:first-of-type {
        margin-bottom: 0;
    }

    .main-benefits .double-list > ul:last-of-type {
        margin-top: 0;
    }

    .description.inline-blocks > div {
        width: 100%;
    }

    .description.inline-blocks > div:first-of-type {
        padding-right: 0;
    }

    .w50 {
        width: 100%;
    }

    .membership .testimonials {
        padding: 50px 0;
    }

    #testimonials-slider .user-info {
        width: 100%;
    }

    #testimonials-slider .user-info img {
        display: inline-block;
    }

    #testimonials-slider .user-info + div {
        width: 100%;
        margin: 20px 0 0;
    }

    .wrap_slide_text h1 {
        font-size: 28px;
    }

    .management h2:after {
        width: 70%;
        margin: 20px 15%;
    }

    .content-text {
        padding: 0;
    }

    .full-img-left-text.donation .left-block {
        width: 100%;
    }

    .full-img-left-text.donation h2 {
        text-align: center;
    }

    .full-img-left-text.donation h2:after {
        width: 100%;
    }

    .inline-inputs input:not([type='radio']), .inline-inputs select,
    .double-select {
        width: 100%;
    }

    .billingInfo .inline-radio {
        display: block;
        margin-left: 20px;
    }

    .signature {
        text-align: center;
    }

    .signature p {
        width: 100%;
        margin-top: 15px;
    }

    .type-package .type {
        width: 100%;
    }

    .type-package .image {
        width: 100%;
        margin-top: 15px;
    }

    footer {
        margin-top: 0;
        padding: 8% 0 4% 0;
    }

    footer .inner {
        margin-left: 0;
    }

    footer .rewards h6 {
        text-align: center;
        margin: 0;
        padding: 0 0 4% 0;
    }

    footer .inner > div:not(.rewards) {
        margin-left: 15%;
    }

    footer.bottom {
        padding: 5px 0 35px 15%;
    }

    footer.bottom div {
        width: 100%;
        text-align: left;
        padding: 5px 0;
    }
}

@media (max-width: 767px) and (min-width: 480px) {
    .header-social_links {
        float: right;
        padding: 0 10px 0 10px;
    }
}

@media (max-width: 600px) {

    .wrap_slide_text h1 {
        font-size: 23px;
    }

    .wrap_slide_text h1 span {
        letter-spacing: -2px;
    }

    .step-six .col-sm-6 img {
        display: block;
        margin: 0 auto;
    }

    .step-six .col-sm-6 img + p {
        width: 100%;
    }

    .double-select select:first-of-type {
        width: 39%;
        margin-right: 0;
    }

    .rapidssl {
        position: static;
        display: block;
        margin: 15px auto 0;
    }

    .login-block {
        padding: 40px 0;
    }

    .main-benefits .with-sidebar > div {
        float: none;
        display: inline-block;
    }

    .main-benefits .with-sidebar > div:first-of-type {
        width: 100%;
        margin-bottom: 15px;
        padding-right: 0;
    }
}

@media (max-width: 480px) {

    .membership .top-section img {
        max-width: 300px;
    }

    .top-bar .social-icon {
        text-align: center;
        padding-left: 5px;
    }

    .social-icon .country-menu {
        float: none;
        text-align: center;
        margin-bottom: 8px;
    }

    .header-social_links {
        float: none;
        display: block;
        text-align: center;
        padding-left: 0;
        margin-bottom: 8px;
    }

    .login {
        width: 100%;
        text-align: center;
        margin-right: 0;
        margin-bottom: 5px;
    }

    #profile-band {
        top: 65px;
    }

    header .socialLoginHdr {
        padding: 0;
        text-align: center;
    }

    .joinhome .social-icon {
        width: 100%;
    }

    footer .inner > div:not(.rewards) {
        margin-left: 0;
    }

    .description-visual .wrap-visual {
        width: 80%;
    }

    .description-visual.description-video .wrap-visual {
        width: 100%;
        margin: 0;
    }
}


/* New index page */

.inner {
    padding: 0 15px;
}

.new {
    font-family: 'Roboto', sans-serif;
}

.new main {
    top: 0;
}

.new h2 {
    color: #fff;
    font-size: 50px;
    font-weight: 700;
}

.new .btn:hover {
    opacity: .7;
    color: #fff;
}

.btn-white {
    color: #fff;
    border-color: #fff;
    border-radius: 7px;
}

.btn-blue {
    background-color: #3498DB;
    color: #fff;
}

.btn-blue-dark {
    background-color: #0B3B5B;
    color: #fff;
}

.btn-blue-dark:focus {
    color: #fff;
}

.btn-green-dark {
    background-color: #27AE60;
    color: #fff;
}

.btn-classic {
    padding: 6px 25px;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    border-radius: 0;
}

.btn-width-extra {
    padding-left: 40px;
    padding-right: 40px;
}

.btn-height-extra {
    padding-top: 8px;
    padding-bottom: 8px;
}

.new header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1039;
}

.new header.active {
    background-color: #143c6c;
}

.new header.top:not(.active) .wrap {
    border-bottom: 1px solid #fff;
}

.new .wrap_banner_text {
    display: none;
    margin-top: 50px;
    text-align: left;
}

.new .navbar-nav {
    margin-left: 20px;
}

.new .navbar .wrap {
    padding: 15px 0;
}

.new .navbar-brand>img {
    width: 100px;
}

.new .navbar-nav > li {
    padding: 20px 10px;
}

.new .navbar-nav > li > a {
    padding: 2px 15px 2px 15px;
    font-size: 13px;
    line-height: 23px;
    font-weight: 700;
    border-radius: 15px;
}

.new .navbar-nav > li > a.btn {
    border-color: #fff;
}

.new .navbar-nav > li > a.btn:hover,
.new .navbar-nav > li > a.btn:focus {
    background-color: transparent;
}

.two-blocks-background {
    position: relative;
}

.two-blocks-background:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background-color: #0E2590;
    z-index: -1;
}

.two-blocks-background:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    background-repeat: no-repeat;
    background-position: left center;
    background-size: cover;
    z-index: -1;
}

.intr-membership {
    padding: 50px 0 190px;
    background: url("../images/intr-membership.jpg") no-repeat center;
    background-size: cover;
    color: #fff;
}

.intr-membership h3 {
    margin: 0;
    font-size: 40px;
    font-weight: 300;
}

.intr-membership h2 {
    margin: 5px 0 20px;
    color: #fff;
    font-weight: 400;
    text-transform: none;
}

.intr-membership h2 b {
    color: #C9C9C9;
    font-weight: 900;
}

.intr-membership h2 b span {
    color: #fff;
}

.intr-membership p {
    font-size: 17px;
}

.membership-options .description {
    margin: 35px 0;
    color: #0B3B5B;
    font-size: 24px;
    font-weight: 700;
    line-height: 1.2;
    text-transform: uppercase;
    text-align: center;
}

.membership-widget {
    width: 80%;
    margin: -130px auto 0;
}

.membership-widget .widget-tabs {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    margin: 0;
    padding: 0;
    list-style: none;
}

.membership-widget .widget-tabs .tab {
    flex: 1 1;
    height: 120px;
    font-size: 18px;
    font-weight: 300;
    line-height: 120px;
    text-align: center;
}

.membership-widget .widget-tabs .tab .content-block {
    display: none;
    position: relative;
}

.membership-widget .widget-tabs .tab a:not(.btn) {
    display: inline-block;
    width: 100%;
    height: 100%;
    padding: 0 10px;
    background-color: #145077;
    color: #fff;
}

.membership-widget .widget-tabs .tab:nth-of-type(odd) a:not(.btn) {
    background-color: #0B3B5B;
}

.membership-widget .widget-tabs .tab.active {
    height: 130px;
    line-height: 130px;
}

.membership-widget .widget-tabs .tab.active a:hover {
    text-decoration: none;
}

.membership-widget .content-block {
    display: none;
    flex-direction: row;
    background-color: #3498DB;
}

.membership-widget .content-block.active {
    display: flex;
}

.membership-widget .content-block div {
    flex: 1 1 50%;
}

.membership-widget .first-block {
    padding: 40px;
}

.membership-widget .second-block {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.membership-widget .moneymax .second-block {
    background-image: url("../images/money-max.jpg");
}

.membership-widget .creditmax .second-block {
    background-image: url("../images/credit-max.jpg");
}

.membership-widget .equitymax .second-block {
    background-image: url("../images/equity-max.jpg");
}

.membership-widget .wealthmax .second-block {
    background-image: url("../images/wealth-max.jpg");
}

.membership-widget .second-block img {
    opacity: 0;
}

.membership-widget h5 {
    margin-bottom: 7px;
    color: #0B3B5B;
    font-size: 18px;
    font-weight: 300;
}

.membership-widget p {
    margin-bottom: 30px;
    color: #fff;
    font-size: 22px;
    line-height: 1.3;
}

.wrap-border {
    padding: 15px 10px;
    border: 4px solid #3498DB;
}

.wrap-list {
    display: flex;
    flex-direction: row;
}

.blue-dots-list {
    flex: 0 0 50%;
    padding: 0;
    margin: 0;
    list-style: none;
}

.blue-dots-list li {
    position: relative;
    margin-bottom: 5px;
    padding-left: 40px;
    line-height: 1.3;
    text-align: left;
}

.blue-dots-list li:last-of-type {
    margin-bottom: 0;
}

.blue-dots-list li:before {
    content: "●";
    position: absolute;
    left: 12px;
    top: 0;
    color: #64BDF8;
    font-size: 18px;
    font-weight: 700;
    line-height: .9;
}

.blue-dots-list.square-icon li:before {
    content: '■';
    top: 2px;
}

.blue-dots-list li b {
    font-weight: 900;
}

.blue-dots-list.align-left li {
    padding-left: 28px;
}

.blue-dots-list.align-left li:before {
    left: 0;
}

.feedbacks {
    padding: 20px 0 45px;
}

.feedbacks h4 {
    color: #B7B7B7;
    font-weight: 500;
    font-style: italic;
}

.feedbacks h3 {
    margin-top: 10px;
    color: #145077;
    font-size: 28px;
    font-weight: 700;
}

.feedbacks .wrap {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 40px 0;
}

.feedback {
    display: flex;
    flex: 0 0 49%;
    flex-direction: row;
    padding: 30px;
    background-color: #F7F7F7;
}

.feedback-image {
    flex: 0 0 140px;
}

.feedback-image img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.feedback-content {
    flex: 1 1;
    color: #4D4D4D;
    font-size: 12px;
    letter-spacing: .1em;
}

.feedback-content p {
    margin-bottom: 15px;
    color: #4D4D4D;
}

.feedback-content .user-info .name,
.feedback-content .user-info .vert-line {
    color: #3498DB;
    font-weight: 700;
}

.feedback-content .user-info .location {
    color: #ACACAC;
}

.feedbacks .view-more {
    text-align: center;
}

.feedbacks .view-more a {
    color: #145077;
    font-weight: 700;
    text-decoration: none !important;
}

.feedbacks .view-more a:hover {
    color: #808080;
}

.new footer.two-blocks-background {
    margin:0;
    padding: 0;
    background-color: transparent;
}

/*.new footer.two-blocks-background.no-margin-top {
    margin-top: 0;
}*/

.new footer.two-blocks-background:before {
    width: 35%;
    background-color: #0B3B5B;
}

.new footer.two-blocks-background:after {
    width: 65%;
    background-color: #175681;
}

.new footer.two-blocks-background .wrap {
    display: flex;
    flex-direction: row;
}

.new footer.two-blocks-background .logo {
    flex: 0 0 35%;
    padding: 25px 0;
    background-color: #0B3B5B;
    text-align: center;
}

.new footer.two-blocks-background .details {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex: 1 1;
    padding: 25px 0;
}

.new footer.two-blocks-background .details ul {
    padding-left: 40px;
}

/* Membership */

.membership .intr-membership {
    padding-top: 220px;
}

.membership-includes {
    padding: 40px 0;
    background: url("../images/office-table.jpg") no-repeat center;
    background-size: cover;
    color: #fff;
}

.membership-includes h2 {
    margin-top: 0;
    margin-bottom: 30px;
    text-transform: none;
}

.membership-includes h3 {
    margin-top: 0;
}

.membership-includes p {
    margin-bottom: 25px;
    font-size: 20px;
    font-weight: 700;
}

.membership-includes .wrap {
    display: flex;
    flex-direction: row;
}

.membership-includes .first-block {
    flex: 0 0 60%;
    padding-right: 30px;
}

.membership-includes .second-block {
    flex: 1 1;
}

.membership-includes .wrap-list {
    margin: 15px auto;
}

.membership-includes .wrap-list .blue-dots-list:first-of-type {
    padding-right: 15px;
}

.membership-includes .wrap_video {
    max-width: 500px;
    margin: 0 auto;
    border: 1px solid #fff;
}

.promotion {
    padding: 50px 0;
    background: url("../images/shaking-hands.jpg") no-repeat center;
    background-size: cover;
    color: #fff;
    text-align: center;
}

.promotion h3 {
    margin-top: 0;
    font-size: 28px;
    font-weight: 900;
}

.promotion p {
    margin-bottom: 20px;
    font-size: 20px;
}

.full-width {
    margin-left: calc(50% - 50vw);
    margin-right: calc(50% - 50vw);
}

.full-width_background {
    padding-left: calc(50vw - 50%);
    padding-right: calc(50vw - 50%);
}

/* modal */

#get_started {
    top: 50%;
    bottom: auto;
    transform: translateY(-50%);
    text-align: center;
}

.answer_modal .modal-header {
    position: relative;
    width: 90%;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px 40px;
    background-color: #fff;
    border-radius: 6px;
}

.answer_modal .modal-header .modal_close {
    position: absolute;
    right: 12px;
    top: 10px;
    border: none;
    color: #d3d3d3;
    font-size: 20px;
    font-weight: bold;
    opacity: 1;
}

.answer_modal .modal-header h2 {
    margin: 10px 0;
    color: #333;
    font-size: 31px;
    font-weight: bold;
    line-height: 1.2;
    text-transform: none;
}

@media (max-width: 991px) {
    .new .navbar-nav > li {
        padding: 20px 5px;
    }

    .new .navbar-brand>img {
        width: 95px;
    }

    .new footer.two-blocks-background .details ul {
        padding-left: 20px;
    }
}

@media (max-width: 800px) {

    .new h2 {
        font-size: 42px;
    }

    .two-blocks-background .inner {
        padding: 0;
    }

    .wrap .first-block {
        flex: 0 0;
    }

    .two-blocks-background .wrap > div {
        padding-left: 15px;
        padding-right: 15px;
    }

    .wrap-list,
    .feedback {
        max-width: 80%;
        margin-left: auto;
        margin-right: auto;
    }

    .wrap-list {
        flex-direction: column;
    }

    .blue-dots-list {
        flex: 0 0;
    }

    .feedbacks .wrap {
        flex-direction: column;
        margin: 30px 0;
    }

    .feedback {
        flex: 0 0;
        margin-bottom: 15px;
    }

    .feedbacks h4,
    .feedbacks h3 {
        text-align: center;
    }

    .new footer.two-blocks-background .details ul {
        padding-left: 10px;
    }

    /* Membership */

    .membership .intr-membership {
        padding-top: 180px;
        text-align: left;
    }

    .membership-includes {
        text-align: center;
    }

    .membership-includes h2 {
        margin-bottom: 20px;
    }

    .membership-includes .wrap {
        flex-direction: column;
    }

    .membership-includes .first-block {
        margin-bottom: 30px;
        padding: 0;
    }

    .membership-includes .wrap-list {
        max-width: 70%;
        flex-direction: row;
    }

    .membership-includes .wrap-list .blue-dots-list {
        flex: 0 0 50%;
    }
}

@media (max-width: 767px) {

    .new header.top:not(.active) .wrap {
        border: none;
    }

    .new .navbar-nav {
        margin: 15px 0 0;
    }

    .new .navbar-collapse {
        box-shadow: none;
    }

    .new .navbar-brand>img {
        width: 80px;
    }

    .wrap-list,
    .feedback {
        max-width: none;
    }

    .banner_img {
        height: 400px;
    }

    .intr-membership {
        text-align: center;
    }

    .intr-membership h3 {
        font-size: 35px;
    }

    .intr-membership p {
        font-size: 16px;
    }

    .membership-widget {
        width: 100%;
    }

    .new footer.two-blocks-background .wrap {
        flex-direction: column;
        margin: 0;
    }

    .new footer.two-blocks-background .logo {
        flex: 0 0;
        padding: 25px 15px;
    }

    .new footer.two-blocks-background .details {
        justify-content: center;
        background-color: #175681;
    }

    .new footer.two-blocks-background .details ul {
        padding-left: 30px;
    }

    .new footer.two-blocks-background .details ul:first-of-type {
        padding-left: 0;
    }

    .new footer.bottom {
        padding: 10px 0;
    }

    .new footer.bottom div {
        text-align: center;
    }

    /* Membership */

    .membership .intr-membership {
        padding-top: 160px;
    }

    .membership-includes p {
        font-size: 18px;
    }

    .promotion h3 {
        font-size: 26px;
    }

    .promotion p {
        font-size: 18px;
    }

    .membership-includes .wrap-list {
        max-width: 82%;
    }
}

@media (max-width: 600px) {

    /* Membership */

    .membership-includes .wrap-list {
        max-width: 250px;
        flex-direction: column;
    }

    .membership-includes .wrap-list .blue-dots-list:first-of-type {
        padding-right: 0;
    }
}

@media (max-width: 500px) {

    .new h2 {
        font-size: 32px;
    }

    .intr-membership {
        padding: 30px 0 160px;
    }

    .intr-membership h3 {
        font-size: 24px;
    }

    .intr-membership p {
        font-size: 14px;
    }

    .membership-widget p {
        font-size: 20px;
    }

    .membership-widget .widget-tabs {
        flex-direction: column;
        align-items: stretch;
    }

    .membership-widget .widget-tabs .tab a:not(.btn) ,
    .membership-widget .widget-tabs .tab:nth-of-type(odd) a:not(.btn) {
        background-color: #145077;
    }

    .membership-widget .widget-tabs .tab.active a:not(.btn)  {
        background-color: #0B3B5B;
    }

    .membership-widget .widget-tabs .tab,
    .membership-widget .widget-tabs .tab.active {
        height: auto;
        line-height: 1.3;
        border-bottom: 1px solid #0B3B5B;
    }

    .membership-widget .widget-tabs .tab a:not(.btn) {
        height: auto;
        padding-top: 15px;
        padding-bottom: 15px;
    }

    .membership-widget .widget-tabs .tab.active a:not(.btn) {
        text-decoration: underline;
    }

    .membership-widget .widget-tabs .tab.active .content-block {
        display: flex;
    }

    .membership-widget .widget-content {
        display: none;
    }

    .membership-widget .content-block {
        flex-direction: column;
    }

    .membership-widget .content-block div {
        flex: 0 0;
    }

    .membership-widget .first-block {
        padding: 25px 30px;
    }

    .membership-widget .second-block {
        background: none;
    }

    .membership-widget .second-block img {
        opacity: 1;
    }

    .membership-options .description {
        font-size: 20px;
    }

    .feedback-image {
        flex: 0 0 110px;
    }

    .feedback-image img {
        width: 90px;
        height: 90px;
    }

    .feedback {
        padding: 20px;
    }

    .feedbacks h3 {
        font-size: 24px;
    }

    .new footer.two-blocks-background .logo {
        padding: 20px 15px;
    }

    .new footer.two-blocks-background .details {
        flex-direction: column;
        padding-left: 40px;
    }

    .new footer.two-blocks-background .details ul {
        padding-left: 0;
    }

    /* Membership */

    .membership .intr-membership {
        padding-top: 140px;
    }

    .promotion h3 {
        font-size: 24px;
    }

    .promotion p {
        font-size: 16px;
    }
}