html {
    min-height: 100%;
}

body {
    min-height: 100%;
    color: #303E4B;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
}

.container {
    width: 100%;
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.background {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100%;
    background: url(../img/bg.jpg) no-repeat center top;
    background-size: cover;
}

.background.modalOpen {
    position: fixed;
    width: 100%;
    filter: blur(12px);
    -webkit-filter: blur(12px);
}

.background.modalOpenExtra {
    position: fixed;
    width: 100%;
    filter: blur(20px);
    -webkit-filter: blur(20px);
}

header {
    padding: 20px 0;
}

header .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

footer {
    position: relative;
    z-index: 3;
    margin-top: 50px;
    padding: 14px 0;
    background-color: #1B5262;
    color: #EBEBEB;
    font-size: 14px;
    text-align: center;
}

footer a {
    color: #EBEBEB;
    text-decoration: none;
}

footer .divider {
    margin: 0 4px;
}

h1 {
    font-size: 80px;
    font-weight: 700;
    line-height: 1;
}

h2 {
    font-size: 55px;
    font-weight: 700;
}

h3 {
    font-size: 45px;
    font-weight: 700;
}

h5 {
    font-size: 19px;
    font-weight: 700;
}

b {
    font-weight: bold;
}

.btn {
    display: inline-block;
    min-width: 180px;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: 12px 15px;
    color: #fff;
    font-size: 14px;
    line-height: 1.5;
    text-decoration: none;
    border-radius: 4px;
    transition: all .15s ease-in-out;
}

.btn:hover {
    opacity: .8;
}

.btn-small {
    padding-top: 5px;
    padding-bottom: 5px;
}

.btn-medium {
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 15px;
}

.btn-large-font {
    padding-top: 9px;
    padding-bottom: 9px;
    font-size: 18px;
}

.btn-narrow {
    min-width: auto;
    padding-left: 20px;
    padding-right: 20px;
}

.btn-green {
    background-color: #27AE60;
}

.btn-blue {
    background-color: #3498DB;
}

.btn-orange {
    background-color: #F39C12;
}

.btn-purple {
    background-color: #9B59B6;
}

.btn-red {
    background-color: #EA6676;
}

select, input, textarea {
    font: 100% 'Montserrat', sans-serif;
;
}

input:focus {
    outline: none;
    box-shadow: 0 0 3px 0 #dce3e9;
}

input::placeholder {
    color: #748EAA;
    font-weight: 300;
    opacity: 1;
}

input:-ms-input-placeholder {
    color: #748EAA;
    font-weight: 300;
}

input::-ms-input-placeholder {
    color: #748EAA;
    font-weight: 300;
}


.select2-container {
    z-index: 9999;
}

.select2-container--default .select2-selection--single {
    height: auto;
}

.select2-container--default .select2-selection--single:focus {
    outline: none;
    box-shadow: 0 0 3px 0 #dce3e9;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    padding: 0;
    color: #303E4B;
    line-height: normal;
}

.select2-container--default .select2-selection--single .select2-selection__placeholder {
    color: #869db5;
    font-weight: 300;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    top: 11px;
    right: 5px;
}

.select2-container--default .select2-selection--single .select2-selection__arrow b {
    border-top-color: #DBE1E9;
    border-width: 9px 5px 0 5px;
}

.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b {
    border-bottom-color: #DBE1E9;
    border-width: 0 5px 9px 5px;
}

.select2-dropdown {
    border-color: #dce3e9;
}

.select2-results__option {
    padding-left: 15px;
    padding-right: 15px;
    font-size: 12px;
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
    background-color: #dce3e9;
    color: #303E4B;
}

.styled-checkbox {
    position: absolute;
    opacity: 0;
}

.styled-checkbox + label {
    position: relative;
    display: inline-block;
    cursor: pointer;
    padding: 0 0 0 30px;
    font-size: 14px;
}

.styled-checkbox + label:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    margin-top: -10px;
    width: 18px;
    height: 18px;
    background: white;
    border: 1px solid rgba(116,142,170,.25);
    border-radius: 4px;
}

.styled-checkbox:hover + label:before {
    background: #748EAA;
}

.styled-checkbox:focus + label:before {
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.12);
}

.styled-checkbox:checked + label:before {
    background: #748EAA;
}

.styled-checkbox:disabled + label {
    color: #b8b8b8;
    cursor: auto;
}

.styled-checkbox:disabled + label:before {
    box-shadow: none;
    background: #ddd;
}

.styled-checkbox:checked + label:after {
    content: '';
    position: absolute;
    left: 4px;
    top: 50%;
    margin-top: -1px;
    background: white;
    width: 2px;
    height: 2px;
    box-shadow: 2px 0 0 white, 4px 0 0 white, 4px -2px 0 white, 4px -4px 0 white, 4px -6px 0 white, 4px -8px 0 white;
    transform: rotate(45deg);
}

[type="radio"]:checked,
[type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;
}

[type="radio"]:checked + label,
[type="radio"]:not(:checked) + label {
    position: relative;
    padding-left: 20px;
    cursor: pointer;
    display: inline-block;
    color: #666;
}

[type="radio"]:checked + label:before,
[type="radio"]:not(:checked) + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 1px;
    width: 14px;
    height: 14px;
    border: 1px solid #DBE1E9;
    border-radius: 4px;
    background: #fff;
}

[type="radio"]:checked + label:after,
[type="radio"]:not(:checked) + label:after {
    content: '';
    width: 10px;
    height: 10px;
    background: #748EAA;
    position: absolute;
    top: 3px;
    left: 2px;
    border-radius: 4px;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

[type="radio"]:not(:checked) + label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}

[type="radio"]:checked + label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}

.wrap-radio {
    display: inline-block;
    vertical-align: middle;
}

.modal {
    display: block;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 9999;
    width: 100%;
    height: 100%;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: black;
    background-color: rgba(0, 0, 0, 0.4);
    overflow: auto;
    transition: all 2s linear;
    opacity: 1;
}

.is-hidden {
    display: none;
    opacity: 0;
    transition: all 2s linear;
}

.logo img {
    width: 160px;
}

.secure-enrollment {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #fff;
}

.secure-enrollment span {
    padding-left: 15px;
    font-size: 14px;
}

.title-top {
    color: #fff;
}

.video-block {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 70px 0;
}

.video-block .title-top {
    width: 60%;
    padding-right: 15px;
}

.video-block .title-top p {
    margin-top: 20px;
    font-size: 26px;
}

.video-block .video {
    width: 40%;
}

.form-block {
    margin-top: 120px;
}

.form-block .top-part {
    position: relative;
    display: flex;
    flex-direction: row;
    padding: 25px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, .16);
}

.form-block .top-part .wrap-img,
.form-block .top-part .wrap-img img {
    width: 270px;
}

.form-block .top-part .wrap-img {
    position: relative;
}

.form-block .top-part .wrap-img img {
    position: absolute;
    bottom: -12px;
    max-width: none;
}

.form-block .top-part .wrap-action {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    justify-content: space-between;
    align-items: center;
}

.form-block .top-part .wrap-action .code-input {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-grow: 1;
    margin: 0 50px 0 40px;
}

.form-block .top-part .wrap-action label {
    margin-right: 25px;
    font-size: 26px;
}

.form-block .top-part .wrap-action input {
    flex: 1 1;
    padding: 15px 25px;
    border: 2px solid #EDAD0D;
    border-radius: 4px;
}

.form-block .top-part .wrap-action .btn {
    margin: 0 35px;
}

.form-block .top-part .wrap-action.wrap-answer {
    flex-direction: column;
}

.form-block .top-part .wrap-action.wrap-answer h3 {
    color: #F39C12;
    font-size: 28px;
    font-weight: 700;
}

.form-part {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: #fff;
}

.form-part .formElement {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.form-part .formElement input:not([type='checkbox']),
.select2-container--default .select2-selection--single {
    margin-top: 5px;
    padding: 15px;
    border: 1px solid rgba(116, 142, 170, .25);
    border-radius: 4px;
}

.form-part .formElement.action {
    flex-direction: row;
    align-items: center;
    text-align: center;
}

.form-part .formElement.action a:not(.btn) {
    color: #303E4B;
    font-size: 11px;
    font-weight: 600;
}

.form-part .formElement.action label {
    font-size: 11px;
}

.form-part .formElement.action .first {
    text-align: left;
}

.form-part .formElement.action .first a:not(.btn) {
    color: #2389E6;
    font-weight: 500;
    text-decoration: none;
}

.form-part .formElement.action .second .btn {
    margin-bottom: 2px;
}

.membership .form-block .form-part {
    margin-top: -10px;
    padding: 50px 30px 20px;
}

.membership .form-block .form-part .formElement {
    width: 31%;
}

.membership .form-block .form-part .formElement.action {
    position: relative;
}

.membership .form-block .form-part .formElement.action .first {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 24px;
}

.membership .form-block .form-part .formElement.action .first .btn {
    margin-left: 15px;
}

.membership .form-block .form-part .formElement.action .second {
    position: absolute;
    bottom: -19px;
    width: 100%;
}

.membership .form-block .form-part .formElement.action .second a {
    font-size: 10px;
}

/* Upgrade */

.upgrade .upgrade-block .title-part .icon-info,
.membership-info .membership-package .block-title .icon-info {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}


.upgrade .title-top {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 30px;
}

.upgrade .title-top h2 {
    flex-shrink: 0;
    margin-right: 40px;
}

.upgrade .title-top p {
    font-size: 18px;
}

.upgrade .upgrade-options {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 50px;
}

.upgrade .upgrade-block {
    width: 32%;
    background-color: #fff;
    border-radius: 10px;
    text-align: center;
}

.upgrade .upgrade-block .title-part {
    padding: 20px;
}

.upgrade .upgrade-block .title-part .wrap {
    position: relative;
}

.upgrade .upgrade-block .title-part h4 {
    font-size: 32px;
    font-weight: 800;
    text-transform: uppercase;
}

.upgrade .upgrade-block .main-part .top {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 12px 0;
    background-color: #3498DB;
    color: #fff;
}

.upgrade .upgrade-block.pro .main-part .top {
    background-color: #F39C12;
}

.upgrade .upgrade-block.elite .main-part .top {
    background-color: #9B59B6;
}

.upgrade .upgrade-block .main-part .top img {
    width: 110px;
}

.upgrade .upgrade-block .main-part .top .wrap-info {
    display: flex;
    flex-direction: column;
    margin-left: 15px;
}

.upgrade .upgrade-block .main-part .top .wrap-info h4 {
    font-size: 18px;
    font-weight: 600;
}

.upgrade .upgrade-block .main-part .top .wrap-info .info-block {
    display: flex;
    flex-direction: row;
    align-items: center;
    line-height: 1;
}

.upgrade .upgrade-block .main-part .top .wrap-info .info-block div {
    margin: 0 5px;
}

.upgrade .upgrade-block .main-part .top .wrap-info_number {
    font-size: 38px;
    font-weight: 600;
}

.upgrade .upgrade-block .main-part .top .wrap-info_text {
    font-size: 9px;
}

.upgrade .plus {
    opacity: .6;
    font-size: 27px;
    font-weight: 700;
}

.upgrade .upgrade-block .main-part .bottom {
    padding: 20px 10px;
}

.upgrade .upgrade-block .main-part .bottom .wrap-img {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0 15px;
}

.upgrade .upgrade-block .main-part .bottom .wrap-img img {
    height: 100px;
}

.upgrade .upgrade-block .main-part .bottom .wrap-img_text {
    margin-left: 12px;
    color: #77828B;
    font-size: 12px;
    text-align: left;
}

.upgrade .upgrade-block .main-part .bottom .wrap-img_text p {
    margin-bottom: 5px;
}

.upgrade .upgrade-block .main-part .bottom .img-guarantee {
    height: auto;
}

.upgrade .upgrade-block .main-part .bottom .wrap-img .plus {
    margin: 0 10px;
    font-size: 30px;
}

.list-benefits {
    display: inline-block;
    margin-top: 25px;
    text-align: left;
}

.list-benefits li {
    position: relative;
    margin-bottom: 14px;
    padding-left: 35px;
    color: #77828B;
    font-size: 14px;
}

.list-benefits li:last-of-type {
    margin-bottom: 0;
}

.list-benefits li:before {
    content: '';
    position: absolute;
    left: 0;
    top: 1px;
    height: 18px;
    width: 18px;
    background: url("../img/verified.png") no-repeat center;
    background-size: contain;
}

.upgrade .upgrade-block .main-part .bottom .wrap-btn {
    margin: 30px 0 10px;
}

.upgrade .skip-upgrade {
    margin-top: 25px;
    text-align: right;
}

/* LC */

.background.white-right {
    overflow: hidden;
}

.background.white-right:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: calc(36% + 15px);
    background-color: #fff;
    z-index: 0;
}

.lc {
    display: flex;
    flex-direction: row;
    margin: 20px 0;
}

.lc .left {
    width: 65%;
    padding-right: 40px;
}

.lc .right {
    position: relative;
    flex: 1 1;
    z-index: 3;
    padding-left: 60px;
    background-color: #fff;
}

.lc .right:after {
    content: '';
    position: absolute;
    top: -50%;
    right: 0;
    height: 300vh;
    width: 100%;
    background-color: #fff;
    z-index: -1;
}

.lc h2 {
    margin: 50px 0;
    color: #fff;
    font-size: 33px;
    line-height: 1;
}

.lc h2 b {
    font-size: 60px;
    font-weight: bold;
}

.lc h5 {
    margin-bottom: 15px;
    line-height: 1.2;
    text-transform: uppercase;
}

.lc .right p {
    color: #868686;
    font-size: 13px;
    font-weight: bold;
    line-height: 1.6;
    letter-spacing: .3px;
}

.lc .list-benefits {
    margin-top: 30px;
}

.lc .list-benefits li {
    margin-bottom: 23px;
    padding-left: 45px;
    color: #868686;
    font-size: 19px;
    font-weight: 500;
}

.lc .list-benefits li:before {
    top: 0;
    width: 23px;
    height: 23px;
}

.lc .wrap-btn {
    margin-top: 60px;
    padding-left: 45px;
}

.lc .wrap-btn .btn {
    min-width: 240px;
    margin-bottom: 15px;
}

/* Billing */

.modal-body {
    padding: 30px 30px;
    background-color: #fff;
    border-radius: 10px;
}

.billing-info h3 {
    margin-bottom: 20px;
    color: #868686;
}

.billing-info h3 sup {
    font-size: 60%;
    font-weight: 700;
}

.billing-info .top-part {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: #868686;
}

.billing-info .top-part .block-description,
.billing-info .top-part .block-price {
    width: 47%;
}

.billing-info .top-part .block-description {
    line-height: 1.5;
}

.billing-info .top-part .block-description ul {
    margin-left: 20px;
    padding-left: 15px;
    list-style: disc;
}

.billing-info .top-part .block-price .grey-block {
    padding: 22px 30px;
    background-color: #F5F5F5;
    border-bottom: 1px solid rgba(112,112,112,.4);
}

.billing-info .top-part .block-price .grey-block .row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 10px;
    font-size: 20px;
}

.billing-info .top-part .block-price .grey-block .row:last-of-type {
    margin-bottom: 0;
}

.billing-info .top-part .block-price .grey-block .row-total {
    margin-top: 40px;
}

.billing-info .top-part .block-price .grey-block .row-total div {
    font-weight: 700;
}

.billing-info .top-part .block-price .address-radio {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
    font-size: 13px;
    font-weight: 500;
    text-align: center;
}

.billing-info .top-part .block-price .address-radio .wrap-radio {
    margin-left: 10px;
}

.billing-info .middle-part {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.billing-info .middle-part h5 {
    margin-bottom: 20px;
    padding: 12px 25px;
    background-color: #F5F5F5;
    color: #868686;
}

.billing-info .middle-part .first,
.billing-info .middle-part .second {
    width: 49%;
}

.billing-info .middle-part .full-width {
    flex: 1 1;
}

.billing-info .middle-part .form-part {
    margin: 0;
    padding: 0;
}

.billing-info .middle-part .formElement {
    width: 47%;
}

.billing-info .middle-part .formElement.text {
    margin-top: 32px;
    color: #868686;
    font-size: 9px;
}

.billing-info .middle-part .formElement input:not([type='checkbox']),
.billing-info .select2-container--default .select2-selection--single {
    padding-top: 12px;
    padding-bottom: 12px;
    font-size: 12px;
}

.billing-info .middle-part .formElement .input-with-image {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.billing-info .middle-part .formElement .input-with-image input {
    width: 45%;
}

.billing-info .middle-part .formElement .input-with-image img {
    width: 100px;
    margin: 5px 0 0 20px;
}

.billing-info .middle-part .formElement .double-input {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.billing-info .middle-part .formElement .double-input .select2 {
    width: 46% !important;
}

.billing-info .bottom-part {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 30px;
}

.billing-info .bottom-part .first,
.billing-info .bottom-part .second {
    width: 49%;
}

.billing-info .bottom-part .first {
    font-size: 13px;
    line-height: 1.4;
}

.billing-info .bottom-part .second .formElement {
    margin-bottom: 0;
}

.billing-info .bottom-part .second label {
    font-size: 10px;
}

#modalText {
    padding-top: 100px;
    color: #fff;
    font-size: 35px;
    font-weight: 600;
}

#modalText p {
    margin-bottom: 30px;
    padding-right: 200px;
}

#modalText p:last-of-type {
    margin-bottom: 0;
}

/* Membership info */

.membership-info.billing-info {
    padding-top: 20px;
}

.membership-info .top-part {
    flex-direction: column;
}

.membership-info .top-part .top,
.membership-info .top-part .middle {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.membership-info .top-part .top {
    margin-bottom: 20px;
}

.membership-info .top-part .top h3 {
    margin-bottom: 0;
    letter-spacing: -2px;
}

.membership-info .top-part .top a {
    color: #12496E;
    font-size: 13px;
    font-weight: 500;
}

.membership-info .membership-package {
    width: 32.5%;
    border: 1px solid #3498DB;
}

.membership-info .membership-package .block-title {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 7px 20px;
}

.membership-info .membership-package .block-title h5 {
    font-size: 34px;
    font-weight: 800;
    text-transform: uppercase;
}

.membership-info .membership-package.vip .block-title h5 {
    color: #3498DB;
}

.membership-info .membership-package.pro {
    border-color: #F39C12;
}

.membership-info .membership-package.pro .block-title h5 {
    color: #F39C12;
}

.membership-info .membership-package.elite {
    border-color: #9B59B6;
}

.membership-info .membership-package.elite .block-title h5 {
    color: #9B59B6;
}

.membership-info .membership-package .block-title .icon-info {
    right: 20px;
}

.membership-info .membership-package .block-price {
    width: 100%;
}

.membership-info .membership-package .block-price .grey-block {
    padding: 25px 20px;
}

.membership-info .membership-package .block-price .grey-block .row {
    font-size: 15px;
}


.membership-package1 {
    display: flex;
    flex-direction: row;
    width: 32.5%;
    padding: 10px 12px;
    background-color: #EAF5FC;
    font-size: 13px;
    border: 1px solid #3498DB;
}

.membership-package1 .column {
    width: 25%;
    padding-top: 10px;
    text-align: center;
}

.membership-package1 .column.column-first {
    flex: 1 1;
    width: 50%;
    text-align: left;
}

.membership-package1 .column.active {
    padding-top: 9px;
    border: 1px solid #33D879;
    border-radius: 7px;
    overflow: hidden;
}

.membership-package_type,
.membership-package_duration {
    height: 62px;
}

.membership-package_type,
.column-first .membership-package_info {
    padding-left: 12px;
}

.membership-package_type .wrap {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.membership-package_type h4 {
    margin-right: 14px;
    color: #3498DB;
    font-size: 38px;
    font-weight: 800;
    text-transform: uppercase;
}

.membership-package_type path {
    fill: #ABD4F1;
}

.membership-package_info {
    padding-top: 4px;
    padding-bottom: 4px;
    background-color: #fff;
}

.membership-package_info div {
    padding: 4px 0;
}

.membership-package_info b {
    color: #27AE60;
}

.membership-package_duration {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 8px;
}

.membership-package_duration b {
    margin-bottom: 12px;
    color: #303E4B;
    font-size: 12px;
    line-height: 1;
}

.membership-package_save {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 26px;
    padding: 4px 2px;
    background-color: transparent;
    color: #fff;
}

.membership-package_save b {
    margin-left: 5px;
    font-size: 9px;
    line-height: 1;
    text-align: left;
    text-transform: uppercase;
}

.vip .membership-package_save {
    background-color: #33D879;
}

.pro {
    background-color: #FEF4E5;
    border-color: #F39C12;
}

.pro .membership-package_type h4 {
    color: #F39C12;
}

.pro .membership-package_type path {
    fill: #FAD59A;
}

.pro .column.active {
    border-color: #F39C12;
}

.elite {
    background-color: #F2E9F6;
    border-color: #9B59B6;
}

.elite .membership-package_type h4 {
    color: #9B59B6;
}

.elite .membership-package_type path {
    fill: #D3B6DF;
}

.elite .column.active {
    border-color: #9B59B6;
}


.membership-info .address-radio {
    margin-bottom: 20px;
}

.membership-info .address-radio span {
    margin-right: 30px;
}

.membership-info .wrap-radio {
    margin-right: 14px;
}

.membership-info .address-radio [type="radio"]:checked + label, [type="radio"]:not(:checked) + label {
    padding-left: 22px;
}

.line-through {
    text-decoration: line-through;
}

.modal.modal-with-secure-payment {
    padding-top: 0;
}

.modal.modal-with-secure-payment .secure-enrollment {
    justify-content: flex-end;
    margin: 20px 0;
    padding-right: 35px;
}

.modal.modal-with-secure-payment .secure-enrollment img {
    width: 13px;
}

.modal.modal-with-secure-payment .secure-enrollment span {
    font-size: 13px;
}

/* Payment info */

.payment-info .top-part .block-description .wrap-lists {
    display: flex;
    flex-direction: row;
}

.payment-info .top-part .block-description ul.list-checkbox {
    width: 50%;
    margin-left: 0;
    padding-left: 0;
    list-style: none;
}

.payment-info .top-part .block-description ul.list-checkbox li {
    margin-top: 25px;
}

.payment-info .top-part .block-description ul.list-checkbox label {
    font-size: 18px;
    font-weight: 600;
}

.payment-info .middle-part {
    margin-top: 30px;
}

.payment-info .middle-part h5 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.payment-info .middle-part h5 img {
    width: 90px;
}

.payment-info .middle-part .gray-block {
    margin-top: 30px;
    padding: 20px 15px 5px;
    background-color: #fbfbfb;
}

.payment-info .middle-part .form-part {
    justify-content: flex-start;
}

.payment-info .middle-part .formElement {
    width: 23%;
    margin-left: 1%;
    margin-right: 1%;
}

.payment-info .middle-part .wrap-checkbox {
    margin: 30px 0;
    padding-left: 15px;
    color: #484848;
}

.payment-info .middle-part .choose-card {
    padding: 20px 25px 5px;
}

.payment-info .middle-part .choose-card h4 {
    color: #227093;
    font-size: 21px;
    font-weight: bold;
}

.payment-info .middle-part .card-list {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 14px;
}

.payment-info .middle-part .card-list > div:not(:last-of-type) {
    margin-right: 100px;
}

.payment-info .middle-part .card-list .wrap-checkbox {
    padding-left: 0;
}

.payment-info .middle-part .card-list .custom-radio-checkbox_small {
    margin-right: 10px;
}

.payment-info .middle-part .card-list a {
    color: #227093;
    font-weight: bold;
    text-decoration: none;
}

.payment-info .middle-part .card-list a:hover {
    opacity: .8;
}

/* Custom radio */

.wrap-custom-radio-checkbox {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    line-height: 1.1;
}

.custom-radio-checkbox {
    display: block;
    position: relative;
    width: 17px;
    height: 17px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.custom-radio-checkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.custom-radio-checkbox .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 17px;
    width: 17px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.custom-radio-checkbox .checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.custom-radio-checkbox input:checked ~ .checkmark:after,
.custom-radio-checkbox:hover input ~ .checkmark:after {
    display: block;
    top: 3px;
    left: 3px;
    width: 9px;
    height: 9px;
    background: #27AE60;
    border-radius: 3px;
}

.custom-radio-checkbox.custom-radio-checkbox_small {
    width: 20px;
    height: 20px;
}

.custom-radio-checkbox.custom-radio-checkbox_small .checkmark {
    height: 20px;
    width: 20px;
    border: 1px solid #ccc;
}

.custom-radio-checkbox.custom-radio-checkbox_small input:checked ~ .checkmark:after,
.custom-radio-checkbox.custom-radio-checkbox_small:hover input ~ .checkmark:after {
    top: 3px;
    left: 3px;
    width: 12px;
    height: 12px;
    background-color: #16A085;
}

/* Payment status modal */

.payment-status {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    max-width: 640px;
    width: 100%;
    margin: 20px auto 0;
    text-align: center;
}

.payment-status .wrap-img {
    margin: 45px 0;
}

.payment-status img {
    width: 120px;
    height: auto;
}

.payment-status h3 {
    margin-bottom: 12px;
    font-size: 38px;
    font-weight: 400;
}

.payment-status span {
    color: #868686;
    font-size: 20px;
}

.payment-status .wrap-btn {
    margin: 60px 0;
}

.payment-status .wrap-btn .btn {
    min-width: 260px;
}


@media (max-width: 1400px) {

    .container {
        max-width: 1100px;
    }

    h1 {
        font-size: 60px;
    }

    /* LC */

    .lc .list-benefits li {
        font-size: 18px;
    }
}

@media (max-width: 1140px) {

    .container {
        max-width: 960px;
    }

    h1 {
        font-size: 50px;
    }

    .video-block {
        margin: 50px 0;
    }

    .video-block .title-top p {
        margin-top: 10px;
        font-size: 22px;
    }

    .form-block .top-part .wrap-img,
    .form-block .top-part .wrap-img img {
        width: 230px;
    }

    .form-block .top-part .wrap-action .code-input {
        margin-right: 25px;
    }

    .form-block .top-part .wrap-action label {
        margin-right: 20px;
        font-size: 22px;
    }

    .form-block .top-part .wrap-action .btn {
        margin: 0 10px;
    }

    /* Upgrade */

    .upgrade .upgrade-block .main-part .bottom .wrap-img_text {
        font-size: 11px;
    }

    .upgrade .upgrade-block .main-part .bottom .wrap-img {
        padding: 0;
    }

    .list-benefits li {
        padding-left: 30px;
    }

    /* LC */

    .lc {
        margin: 15px 0;
    }

    .lc .left {
        width: 64%;
    }

    .lc .right {
        padding-left: 35px;
    }

    .lc h2 {
        font-size: 30px;
    }

    .lc h2 b {
        font-size: 54px;
    }

    .lc .list-benefits li {
        font-size: 17px;
    }

    /* Membership */

    .membership-info .top-part .middle  {
        flex-direction: column;
    }

    .membership-package1 {
        max-width: 400px;
        width: 100%;
        margin-bottom: 12px;
    }
}

@media (max-width: 992px) {

    .container {
        max-width: 720px;
    }

    .btn {
        min-width: 160px;
        padding: 10px 15px;
    }

    .form-block .top-part .wrap-img {
        display: none;
    }

    .form-block .top-part .wrap-action input {
        padding: 13px 15px;
    }

    /* Billing info */

    .billing-info .top-part {
        flex-direction: column;
    }

    .billing-info .top-part .block-description, .billing-info .top-part .block-price {
        width: 100%;
    }

    .billing-info .top-part .block-description {
        margin-bottom: 25px;
    }

    .billing-info .middle-part .formElement .input-with-image img {
        width: 72px;
        margin-left: 10px;
    }

    .billing-info .bottom-part .second .formElement {
        flex-direction: column;
    }

    .billing-info .bottom-part .second .formElement .first,
    .billing-info .bottom-part .second .formElement .second {
        width: 100%;
    }

    .billing-info .bottom-part .second .formElement .first {
        margin-bottom: 10px;
    }

    /* Upgrade */

    .upgrade .title-top {
        flex-direction: column;
        margin-top: 25px;
        text-align: center;
    }

    .upgrade .title-top h2 {
        margin: 0 0 5px;
    }

    .upgrade .upgrade-options {
        flex-direction: column;
        margin-top: 40px;
    }

    .upgrade .upgrade-block {
        max-width: 360px;
        width: 100%;
        margin: 0 auto 40px;
    }

    .upgrade .upgrade-block .title-part {
        padding: 12px 20px;
    }

    .upgrade .upgrade-block .main-part .top {
        padding: 8px 0;
    }

    .upgrade .upgrade-block .main-part .bottom {
        padding: 15px 10px;
    }

    .upgrade .upgrade-block .main-part .bottom .wrap-img {
        padding: 0 15px;
    }

    .upgrade .upgrade-block .main-part .bottom .wrap-btn {
        margin: 25px 0 5px;
    }

    .list-benefits {
        margin-top: 20px;
    }

    .upgrade .skip-upgrade {
        margin-top: 15px;
        text-align: center;
    }

    /* LC */

    .lc .left {
        width: 57%;
        padding-right: 30px;
    }

    .lc .right {
        width: 43%;
        padding-left: 30px;
    }

    .lc h2 {
        font-size: 25px;
    }

    .lc h2 b {
        font-size: 36px;
    }

    .lc .list-benefits li {
        margin-bottom: 20px;
        padding-left: 40px;
        font-size: 16px;
    }

    .lc .list-benefits li:before {
        width: 20px;
        height: 20px;
    }

    .lc .wrap-btn {
        margin-top: 40px;
        padding-left: 40px;
    }

    /* Membership info */

    .membership-info .top-part .top h3 {
        font-size: 35px;
    }

    .membership-info .top-part .top a {
        font-size: 12px;
    }

    .membership-info .membership-package .block-title h5 {
        font-size: 30px;
    }

    .membership-info .membership-package .block-price .grey-block,
    .membership-info .membership-package .block-title {
        padding-left: 15px;
        padding-right: 15px;
    }

    .membership-info .membership-package .block-title .icon-info {
        right: 15px;
    }

    /* Payment status modal */

    .payment-status .wrap-img {
        margin: 30px 0;
    }

    .payment-status h3 {
        margin-bottom: 10px;
        font-size: 34px;
    }

    .payment-status span {
        font-size: 18px;
    }

    .payment-status .wrap-btn {
        margin: 40px 0;
    }

    /* Payment Info */

    .payment-info .middle-part .formElement {
        width: 48%;
    }

    .payment-info .middle-part .choose-card {
        padding-bottom: 20px;
    }

    .payment-info .middle-part .choose-card h4 {
        margin-bottom: 25px;
    }

    .payment-info .middle-part .card-list {
        flex-direction: column;
        align-items: flex-start;
    }

    .payment-info .middle-part .card-list .wrap-checkbox {
        margin: 0 0 20px;
    }

    .payment-info .middle-part .card-list > div:not(:last-of-type) {
        margin-right: 0;
    }

    .payment-info .middle-part .card-list > div:last-of-type {
        margin: 10px 0;
    }

    .payment-info .middle-part .card-list a {
        margin-left: 30px;
    }
}

@media (max-width: 768px) {

    .container {
        max-width: 600px;
    }

    h1 {
        font-size: 45px;
    }

    .btn {
        min-width: 150px;
    }

    .video-block {
        flex-direction: column;
        margin: 30px 0;
    }

    .video-block .title-top,
    .video-block .video {
        width: 100%;
        padding: 0;
        text-align: center;
    }

    .video-block .video {
        max-width: 500px;
        margin-top: 30px;
    }

    .video-block .title-top p {
        font-size: 20px;
    }

    .form-block {
        margin-top: 60px;
    }

    .form-block .top-part {
        flex-direction: column;
        align-items: center;
    }

    .form-block .top-part .wrap-action {
        width: 100%;
    }

    .form-block .top-part .wrap-action .code-input {
        margin-left: 0;
    }

    /* Billing info */

    .billing-info .middle-part {
        flex-direction: column;
    }

    .billing-info .middle-part .first,
    .billing-info .middle-part .second {
        width: 100%;
    }

    .billing-info .middle-part .first {
        margin-bottom: 20px;
    }

    /* LC */

    .background.white-right:after {
        display: none;
    }

    .lc {
        flex-direction: column;
    }

    .lc .left,
    .lc .right {
        width: 100%;
        padding: 0;
    }

    .lc .right {
        padding: 25px;
        text-align: center;
    }

    .lc .right:after {
        display: none;
    }

    .lc .right p {
        text-align: left;
    }

    .lc h2 {
        margin: 30px 0;
        text-align: center;
    }

    .lc h5 {
        text-align: center;
    }

    .lc .wrap-btn {
        margin-top: 25px;
        padding-left: 0;
    }

    .lc .wrap-btn .btn {
        margin: 0 5px 10px;
    }

    /* Membership info */

    .membership-info .top-part .top,
    .membership-info .top-part .middle {
        flex-direction: column;
    }

    .membership-info .top-part .top h3 {
        margin-bottom: 5px;
        text-align: center;
    }

    .membership-info .membership-package {
        max-width: 360px;
        width: 100%;
        margin-bottom: 15px;
    }

    .membership-info .membership-package:last-of-type {
        margin-bottom: 0;
    }

    .membership-info .membership-package .block-price .grey-block {
        padding-top: 15px;
        padding-bottom: 15px;
    }

    .membership-info .address-radio span {
        display: inline-block;
        width: 100%;
        margin-bottom: 10px;
    }

    /* Payment status modal */

    .payment-status {
        max-width: 90%;
    }
}

@media (max-width: 600px) {

    .btn {
        min-width: 140px;
    }

    .form-block .top-part .wrap-action label {
        display: none;
    }

    .form-block .top-part .wrap-action {
        position: relative;
    }

    .form-block .top-part .wrap-action .code-input {
        width: 100%;
        margin: 0;
    }

    .form-block .top-part .wrap-action .btn {
        position: absolute;
        right: 3px;
        top: 3px;
        min-width: auto;
        margin: 0;
        padding: 8px 15px;
    }

    /* Billing info */

    .billing-info .bottom-part {
        flex-direction: column;
        margin-top: 20px;
    }

    .billing-info .bottom-part .first,
    .billing-info .bottom-part .second {
        width: 100%;
    }

    .billing-info .bottom-part .first {
        margin-bottom: 15px;
    }

    .billing-info .bottom-part .second .formElement .first {
        margin-bottom: 25px;
    }

    /* Payment info */

    .payment-info h3 {
        font-size: 35px;
    }

    .payment-info .top-part .block-description ul.list-checkbox {
        width: auto;
        margin-right: 25px;
    }

    .payment-info .top-part .block-description ul.list-checkbox:last-of-type {
        margin-right: 0;
    }

    .payment-info .middle-part .wrap-checkbox {
        padding-left: 0;
    }

    /* Upgrade */

    .upgrade .title-top {
        margin-top: 20px;
    }

    .upgrade .title-top h2 {
        font-size: 40px;
    }

    .upgrade .title-top p {
        font-size: 15px;
    }

    .upgrade .upgrade-block {
        margin-bottom: 25px;
    }

    /* LC */

    .lc h2 {
        margin: 20px 0 30px;
        font-size: 22px;
    }

    .lc h2 b {
        font-size: 34px;
    }
}

@media (max-width: 450px) {

    h1 {
        font-size: 40px;
    }

    .logo img {
        width: 130px;
    }

    .secure-enrollment span {
        padding-left: 10px;
    }

    .video-block {
        margin: 20px 0;
    }

    .video-block .title-top p {
        font-size: 18px;
    }

    .form-block {
        margin-top: 35px;
    }

    .form-block .top-part {
        padding: 20px;
    }

    /* Billing info */

    .billing-info .top-part .block-price .grey-block {
        padding: 20px;
    }

    .billing-info .top-part .block-price .grey-block .row {
        font-size: 18px;
    }

    .billing-info .middle-part h5 {
        padding-left: 20px;
        padding-right: 20px;
    }

    .billing-info .middle-part .formElement {
        width: 100%;
    }

    .billing-info .middle-part .formElement .input-with-image img {
        width: 100px;
        margin-left: 20px;
    }

    .billing-info .middle-part .formElement.text {
        margin-top: 0;
    }

    /* Payment info */

    .payment-info .top-part .block-description ul.list-checkbox li {
        margin-top: 18px;
    }

    .payment-info .top-part .block-description ul.list-checkbox label {
        font-size: 16px;
    }

    .payment-info .middle-part .wrap-btn {
        text-align: center;
    }

    /* Payment status modal */

    .modal-body {
        padding: 20px;
    }

    .payment-status img {
        width: 100px;
    }

    .payment-status h3 {
        font-size: 30px;
    }

    .payment-status span {
        font-size: 15px;
    }

    .payment-status .wrap-btn {
        margin-bottom: 25px;
    }
}

@media (max-width: 374px) {

    /* Upgrade */

    .upgrade .upgrade-block .main-part .bottom .wrap-img {
        padding: 0;
    }

    .upgrade .upgrade-block .main-part .bottom .wrap-img img {
        height: 90px;
    }

    /* Billing info */

    .billing-info .top-part .block-price .grey-block .row {
        font-size: 16px;
    }

    /* Payment info */

    .payment-info .middle-part h5 img {
        width: 80px;
    }

    /* LC */

    .lc h2 {
        font-size: 20px;
    }
}